<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
	<mdl-layout-header>
		<mdl-layout-header-row>
			<mdl-layout-title>Evo Contacts</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
            	<mdl-icon>mood</mdl-icon>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-content>
    	<app-contact-list></app-contact-list>
    </mdl-layout-content>
</mdl-layout>